body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  /* display: inline-block; */
  margin: 1em;
}

.google-login {
  text-align: center;
}

/* courseHome */
.course-home-wrapper {
  display: flex;
}
.course-sidebar {
  background-color: lightblue;
  width: 15%;
  height: 650px;
}
.course-info {
  margin: 1rem;
}
.course-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.course-navigation > button {
  margin: 1rem;
  height: 2rem;
  border-radius: 10px;
  background-color: white;
}
.course-navigation > button:hover {
  background-color: dodgerblue;
  cursor: pointer;
}
.course-content {
  width: 80%;
}
.course-content > h1 {
  text-align: center;
}
/* course-card */
.course-card {
  display: flex;
  justify-content: space-evenly;
  background-color: dodgerblue;
  padding: 2rem;
  margin: 1rem;
  list-style-type: none;
  width: 30%;
  border-radius: 10px;
}
course-card-wrapper {
  display: flex;
  justify-content: space-between;
}
.course-card > a {
  background-color: tomato;
  padding: 1rem;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}

.course-card > a:hover {
  cursor: pointer;
  background-color: firebrick;
}
