body {
  font-family: sans-serif;
  margin: 0;
  /* background-image: linear-gradient(to right, teal, #59cbc0); */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.logo-name {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.row {
  display: flex;
  align-items: center;
}

/* courseHome */
.course-home-wrapper {
  display: flex;
}

.course-sidebar {
  background-color: #6576bb;
  width: 15%;
  min-height: 900px;
}

.course-info {
  margin: 1rem;
  text-align: center;
}

.course-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-navigation > a {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #59cbc0;
  color: white;
  text-align: center;
  box-shadow: 1px 1px 5px black;
}

.course-navigation > a:hover {
  background-color: lightseagreen;
  cursor: pointer;
}

.course-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}
.course-content {
  width: 100%;
}
.course-content > div:nth-child(2) {
  overflow: scroll;
  height: 800px;
}

.course-content > h1 {
  text-align: center;
}

/* course-card */

.course-card-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.course-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #6576bb;
  padding: 1rem;
  list-style-type: none;
  color: white;
  align-items: center;
  width: 25%;
  border-radius: 5px;
  margin: 1rem;
  box-shadow: 2px 2px 10px black;
}

.course-card > a {
  background-color: #59cbc0;
  padding: 1rem;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
}

.course-card > a:hover {
  cursor: pointer;
  background-color: lightseagreen;
}

.course-card > h2 {
  text-align: center;
  color: white;
}

.course-card > button {
  border-radius: 10px;
  background-color: #59cbc0;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
}

.course-card > button:hover {
  cursor: pointer;
  background-color: teal;
}

h1 {
  text-align: center;
  color: #6576bb;
}
/* navbar */
nav a {
  margin: 1rem;
  color: #6576bb;
  font-weight: bolder;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  padding-left: 1rem;
  box-shadow: 1px 1px 5px black;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar-pfp {
  height: 40px;
}
/* courses page */
.add-button {
  background-color: #59cbc0;
  padding: 1rem;
  border-radius: 50%;
  font-weight: bolder;
  color: white;
  width: 15px;
  height: 1rem;
  box-shadow: 1px 1px 5px black;
}

.courses-wrapper {
  display: flex;
  margin: 2rem;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
}
#messagesUsers {
  border: solid navajowhite 5px;
  width: 400px;
  height: 350px;
  display: flex;
  flex-direction: row-reverse;
}
#displayMessage {
  display: flex;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  width: 80%;
  background: lightgreen;
}
#displayUsers {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin: 0;
  width: 20%;
  background: lightblue;
}
li {
  list-style: none;
}
.container {
  width: 70%;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: '';
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
.userName {
  color: darkblue;
}

/* width */
#messagesUsers ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#messagesUsers ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#messagesUsers ::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#messagesUsers ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#displayUsers ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#displayUsers ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#displayUsers ::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#displayUsers ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* announcements */
.announcement-card {
  margin: 2rem 2rem 2rem 2rem;
  padding: 1rem;
  background-color: lightblue;
  min-height: 150px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
}

/* studentlist */
.wrapper {
  list-style-type: none;
  text-align: center;
  padding: 1rem;
}

.studentlist-table-wrapper {
  display: flex;
  overflow: auto;
  align-content: center;
}

table {
  margin: 2rem;
  border: solid 2px lightblue;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 2px 2px 10px black;
}

thead {
  background-color: lightblue;
  text-align: center;
  padding: 1rem;
}

th {
  padding: 5px;
}

td {
  text-align: center;
  padding: 0.5rem;
}

tr:nth-child(even) {
  background-color: lightblue;
}

/* search-bar */

.search-bar {
  color: #6576bb;
  font-weight: bolder;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 1rem 30%;
  justify-content: space-around;
}

.search-bar > select {
  height: 2rem;
}

/* buttons */

.button-wrapper {
  display: flex;
  justify-content: space-around;
  background-color: #6576bb;
}
.default-button {
  border-radius: 10px;
  background-color: #59cbc0;
  padding: 1rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 1rem;
}
.default-button:hover {
  background-color: teal;
}

.home-page {
  width: 700px;
  height: 800px;
  border: solid black 7px;
  background-color: rgb(245, 241, 241);
}
