body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* courseHome */
.course-home-wrapper {
  display: flex;
}

.course-sidebar {
  background-color: lightblue;
  width: 15%;
  height: 750px;
}

.course-info {
  margin: 1rem;
}

.course-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-navigation > button {
  margin: 1rem;
  height: 2rem;
  border-radius: 10px;
  background-color: white;
}

.course-navigation > button:hover {
  background-color: dodgerblue;
  cursor: pointer;
}

.course-content {
  width: 80%;
}

.course-content > h1 {
  text-align: center;
}

/* course-card */

.course-card-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.course-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #31409e;
  padding: 1rem;
  list-style-type: none;
  color: white;
  align-items: center;
  width: 25%;
  border-radius: 5px;
}

.course-card > a {
  background-color: tomato;
  padding: 1rem;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}

.course-card > a:hover {
  cursor: pointer;
  background-color: firebrick;
}

h1 {
  text-align: center;
}
/* navbar */
nav a {
  margin: 1rem;
  color: white;
  font-weight: bolder;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #31409e;
  padding-left: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
}
